@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
    font-family: "Mulish", sans-serif;
}
/* default styles */
* {
margin: 0;
}
.container{
width: 85%;
margin: 3rem auto;
border-radius: 1rem;
}
h3{
    font-size: 35px;
    text-align: center;
    font-weight: 800;
    line-height: normal;
}
p{
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
}
.span{
    color: rgb(255, 84, 0);
}
.btn-primary{
width: 175px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
padding: 0.7rem 1.2rem;
color: rgb(255, 255, 255);
background-color: rgb(255, 84, 0);
border: 1px solid rgb(255, 84, 0);
border-radius: 8px;
font-weight: 800;

}
/* navbar section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.logo{
    width: 270px;
display: flex;
align-items: center;
gap: 15px;
}
.logo img{
    width: 50px;
    height: 55px;
}
.nav-options{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
.nav-options p{
    cursor: pointer;
}
/* banner section */
.explore-your-travel{
    background-image: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%),url(../images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 7rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.explore-container h3{
    color: white;
    font-size: 4rem;
    font-weight: 800;
}
.explore-container p{
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 26px;
    width: 676px;
    padding: 1.5rem 0;
    margin: auto;
    text-align: center;
}
.travel-inputs{
    margin-top: 2rem;
    border-radius: 8px;
    background:  rgb(255, 255, 255, 0.2);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(2px);
}
input, select{
width: 175px;
height: 50px;
padding: 0 0.5rem;
margin: 0 1rem;
border-radius: 8px;
border: none;
cursor: pointer;
font-size: 1rem;
}
/* our popular tours section */
.popular-section{
display: flex;
justify-content: space-between;
}
.text-content{
    width:50%;
    height: 666px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content:space-evenly;
}
.text-content p, li{
    line-height: 24px;
    word-spacing: 5px;
    letter-spacing: 1px;
}
.text-content h3, p, li{
    text-align: left;
}
.image img{
    width: 650px;
    height: 650px ;
}
/* destination section */
.destination img{
   width: 100%;
    height: 300px;
    filter: brightness(85%);
}
.destination p{
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.row-1, .row-2, .row-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0;
    gap: 10px;
}
.row-2{
    grid-template-columns: 0.7fr 1fr 0.5fr;
}
.row-3{
grid-template-columns: 0.8fr 1.2fr ;
}
.country-card{
    position: relative;
}
.country{
position: absolute;
top: 50%;
left: 50%;
color: white;
font-size: 28px;
font-weight: bold;
transform: translate(-50%, -50%);
}